include ../layout
include ../footer

    block content
    h1 Books
    p
      a.button(href='books/new') Create New Book

    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
      tbody
        tr
          td.capitalize
            input(class='search' type='text' name='title' placeholder='Search Title')
          td.capitalize
            input(class='search' type='text' name='author' placeholder='Search Author')
          td.capitalize
            input(class='search' type='text' name='genre' placeholder='Search Genre')
          td.capitalize
            input(class='search' type='text' name='year' placeholder='Search Year')
        each book in books
          tr
            td.capitalize
              a(href="/books/" + book.id) #{book.title}
            td.capitalize #{book.author}
            td.capitalize #{book.genre}
            td.capitalize #{book.year}

    block footer
            
            