//- Including dependencies.
include layout
include footer

//- Inserting content from 'layout.pug'.
block content

//- Show this message if the user has entered an incorrect ':id' in the URL path. Like '/books/2452345' is most likely an incorrect id.
h1 Server Error
p Sorry! There was an unexpected error on the server.

//- Inserting content from 'footer.pug'.
block footer
