doctype html
html
  head
    script.
      if(performance.navigation.type == 2){
        location.reload(true);
      }
    title Books
  body(style='visibility: hidden;', onload='js_Load()')
    block content
